/* .container {
} */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgb(237, 230, 230);
  padding: 10px;
}

.profile img {
  border-radius: 100%;
}
.inside {
  margin: 0 0 0 10px;
}
.p2 {
  font-size: 15px;
  text-decoration: underline;
  font-style: italic;
  color: grey;
}
.p3 {
  font-size: 18px;
  font-weight: 600;
}

.recent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.img {
  width: 100%;
  aspect-ratio: 1/1;
}
.des {
  padding: 10px;
}

.btn {
  color: #fff;
  background-color: red;
  border: none;
  margin: 10px;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

.span {
  font-size: 15px;
  text-decoration: underline;
  text-transform: capitalize;
  font-style: italic;
  color: grey;
}
.p {
  text-transform: capitalize;
  font-weight: 400;
}
.span2 {
  font-size: 20px;
  font-weight: 900;
}

.review {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.textarea {
  font-size: 15px;
  color: grey;
  padding: 4px;
}

@media screen and (min-width: 768px) {
  .profile {
    display: flex;
    justify-content: space-between;
    padding: 1em 5em;
  }

  .profile img {
    width: 100px;
  }

  .recent {
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 1024px) {
  .profile img {
    width: 130px;
  }
  .recent {
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
