.btn {
  position: absolute;
  top: 1em;
  right: 2em;
  border: none;
  padding: 5px 6px;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.backBtn {
  position: absolute;
  top: 1em;
  left: 2em;
  padding: 5px;
  border: none;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.middle {
  padding: 10px;
  animation: ll 2s 1;
}

.pBtn {
  border: none;
  padding: 10px 25px;
  margin: 10px;
  background-color: #e36868;
  color: #fff;
  font-size: 17px;
  border-radius: 10px;
}

.p {
  font-weight: 900;
}
.bedInfo {
  margin: 20px 0;
}
.span1 {
  font-size: 17px;
  font-style: italic;
  text-decoration: underline;
  font-weight: 800;
}
.span2 {
  font-size: 15px;
}

.features {
  padding: 1em;
}

.features1 {
  display: flex;
  align-items: center;
}
.p2 {
  margin: 10px;
}
.review {
  margin: 10px 0;
}

.reviews {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;

  border-radius: 10px;
  padding: 10px;
  background-color: rgba(2, 1, 1, 0.629);
  color: #fff;
}

.start {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.article {
  font-size: 14px;
  font-style: italic;
}

@keyframes ll {
  from {
    transform: translateY(100px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes kali {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (min-width: 430px) {
  .review {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 760px) {
  .review {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .features {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .features1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  .bedInfo {
    padding: 0 1rem;
  }
  .h3 {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .top {
    /* margin: 10px auto;
    width: 80%; */
  }
  .review {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 2rem;
  }
  .features {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .features1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 2rem;
  }
  .tt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  .bedInfo {
    padding: 0 2rem;
  }
  .h3 {
    padding: 0 2rem;
  }
}
