@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.mainNav {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.ul {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.li {
  flex: 0 0 auto;
  scroll-snap-align: center;
  padding: 10px;
}

.li:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
